:root {
  font-size: 16px !important;
  @media screen and (max-width: 760px) {
    font-size: 12px !important;
  }
}
$primary: #ff1e56;

body {
  font-family: 'Manrope', sans-serif;
  background: #FBFBFB;
  scroll-behavior: smooth;
}
.nav-link.active {
  color: #FFF !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif !important;
}
.nav-link {
  color: #0f2027 !important;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.additional-headline {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal {
  .modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0.5rem;
    th {
      width: 30%;
    }
    input{
      padding-left: 0.5rem;
    }
  }
  .modal-footer {
    a {
      text-decoration: underline;
      color: #FB3640;
    }
  }
}
body.modal-open {
  overflow: hidden;
}

header {
  background: #fff;
}
Nav {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 10vh;
  & * {
    font-size: 1rem;
  }
  .navbar-brand {
    font-weight: bold;
    color: $primary;
  }
  .nav-link {
    font-weight: 400;
  }
  .navbar-toggler > img {
    margin: auto;
    width: 1.5rem;
  }
}

.header-headline {
  .container {
    height: 90vh;
    display: flex;
    & > * {
      flex: 1;
      margin: auto;
    }
    img {
      width: 100%;
    }
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: $primary
  }
  h3 {
    @media screen and (min-width: 760px) {
      width: 75%;
    }
    font-size: 1rem;
    animation: 1s ease-out 0s 1 in;
  }
}

.pages {
  .nav-item {
    font-weight: bold;
    flex: 1;
    text-align: center;
    .nav-link {
      transition: 0.1s ease;
    }
  }
}
.page {
  .no-style {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s ease;
    &:hover {
      filter: opacity(0.7);
    }
  }

  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  .card-img-top {
    width: 65%;
    margin: auto;
    padding-top: 1rem;
  }
  .card-body {
    & > * {
      flex:1;
      text-align: center;
    }

    display: flex;
    flex-direction: column;
    .price::before {
      content: '₽';
      font-size: 0.8rem;
      position: relative;
      bottom: 1.25em;
    }
    .price {
      margin: auto auto 0;
      margin-bottom: 0.5rem;
      font-size: 2rem;
      font-weight: bold;
    }
    .card-title {
      font-weight: bold;
    }
    .bottom-card {
      display: flex;
      flex-direction: column;
    }
  }
  .left-amount {
    color: #23395B;
    font-weight: 700;
  }
}
.typewriter {
  width: fit-content;
}
.typewriter h1 {
  padding-right: 0.3rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid $primary; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
          typing 2s steps(30, end),
          blink-caret .75s step-end infinite;
}

$width: 70;
$color: #000;

.ball-loader{
  margin:auto;
  width: $width + 0px;
  height: ($width / 3) - 10px;
  position: relative;
}
.ball-loader-ball{
  will-change: transform;
  height:($width / 3) - 10px;
  width: ($width / 3) - 10px;
  border-radius: 50%;
  background-color: $color;
  position: absolute;
  animation: grow 1s ease-in-out infinite alternate;


  &.ball1{
    left:0;
    transform-origin: 100% 50%;
  }
  &.ball2{
    left:50%;
    transform: translateX(-50%) scale(1);
    animation-delay: 0.33s;
  }
  &.ball3{
    right:0;
    animation-delay: 0.66s;
  }
}

@keyframes grow{
  to{
    transform: translateX(-50%) scale(0);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% } 
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary; }
}
@keyframes in {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100;
  }
}

@media screen and (max-width: 760px){
  Nav {
    height: auto;
  }
  .header-headline {
    .container {
      display: block;
      height: auto;
      padding: 3rem;
    }
    h1, h3 {
      text-align: center;
    }
    .headline {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    a {
      width: fit-content;
    }
  }
  .page {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

  }
}